@use '@angular/material' as mat;
@use 'sass:map';


:host {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 1rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes-wrapper {

  min-height: 50%;
  max-width: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid #AAAAAA5E;
  border-radius: 2rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #863e00;


}

.loading-wrapper{
  min-height: 50%;
  max-width: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid #AAAAAA5E;
  border-radius: 2rem;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #863e00;

  iframe{
    border: none;

  }

}