@use '@angular/material' as mat;
@use 'sass:map';

:host {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  height: calc(100% - 100px);
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 1rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #AAAAAA5E;
  background-color: rgba(0, 0, 0, 0.24);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 2rem;
  height: auto;
  overflow: auto;

  .ingredients-wrapper {
    padding: 0 400px;

    .ingredient-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 1rem;
    }
  }

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #AAAAAA5E;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  }

  button:hover {
    background-color: #e76e00;
    transform: translateX(-.5rem);
  }

  .start-button {
    align-self: flex-end;
    position: fixed;
    bottom: 10%
  }

  .start-button:hover {
    background-color: rgba(81, 204, 0, 0.87);
    transform: translateX(-.5rem);
  }
}

@media (prefers-color-scheme: dark) {
  form {
    background-color: var(--test-color);

    button {
      background-color: rgba(0, 0, 0, 0.68);
    }

    button:hover {
      background-color: rgba(20, 20, 20, 0.5);
      transform: translateX(-.5rem);
    }
  }
}
